
.card-front {
  height: 100%;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-front:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}
  
.card-back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
} 

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-front, .card-back {
  
  backface-visibility: hidden;
}

.card-front {
  border: 2px solid black;
}


.card-back {
 
  transform: rotateY(180deg);
}

.card.flipped {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.rotate-btn {
  color: white !important;
}

.card-back .rotate-btn {
  color: black !important;
}

.carousel {
  height:100%;
  width: 100%;
}

.modal-header, .modal-footer{
  padding: 0px;
  border: none;
}

